body {
	background-color: #eee
}

.navbar-nav {
    cursor: pointer
}

.jumbotron {
    margin: 0;
    padding: 0;
    padding-top: 15px
}

.btn-back {
    margin: 5px -36px 5px 5px
}

.page-manual .col-xs-6 {
    padding: 0
}

.page-manual p {
    margin-bottom: 0!important;
    line-height: 34px
}

.nav-tabs a {
	cursor: pointer;
}
